<div ng-controller="post_controller_one">
  <div class="logo_background">
    <a class="logo_a" href="#/"><h2 class="logo" align="center">Sahngah</h2></a>
  </div>
  <div align="center">
    <hr><a class="category_link" href='/#/lasvegas'>Las Vegas</a>
    <a class="category_link" href='/#/losangeles'>Los Angeles</a>
    <a class="category_link" href="/#/newyork">New York</a>
    <a class="category_link" href="/#/sanfrancisco">San Francisco</a>
    <a class="category_link" href="/#/miami">Miami</a>
    <a class="category_link" href="/#/boston">Boston</a>
    <a class="category_link" href="/#/seattle">Seattle</a>
    <a class="category_link" href="/#/singapore">Singapore</a>
    <a class="category_link" href="/#/cancun">Cancun</a>
    <a class="category_link" href="/#/portland">Portland</a><hr>
  </div>
  <div align="center">
      <div class="post about">
        <h1 class="post_title">Nice To Meet You!</h1>
        <img width=50% src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/12558454_573795182773190_1943804308_n.jpg?ig_cache_key=MTE4MDIyOTMzMTUzNDAxMjEwMw%3D%3D.2" alt="">
        <p class="post_description">I'm a software developer with a passion for learning new technologies and programming languages. I recently finished an immersive full stack web development program where I learned three full stacks in web development (Python, Mean, and C# with ASP.NET Core)</p>
      </div>
      <div class="post about">
        <h1 class="post_title">More projects/code availble:</h1>
        <a href="http://github.com/sahngah"><img width=15% src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" alt=""></a>
      </div>
      <div class="post about">
        <h1 class="post_title">Let's Get In Touch!</h1>
        <p class="post_description">Send me an email or add me on LinkedIn and I will get back to you as soon as possible!</p><br>
        <a href="https://www.linkedin.com/in/sahngah"><img width=5% src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt=""></a>
        <p class="post_description">sahngah.lee@gmail.com</p>
      </div>
  </div>
  <div align="center">
    <ul class="navbar">
      <li><a href="#/user/login">Login | </a></li>
      <li><div class="homebar" ng-if="curUser.username == 'sahngah'">
      <a href="#/post/new">New Post |</a>
      </div></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>

</div>
