<div ng-controller='post_controller_one'>
  <h1 id='front_title'>Sahngah</h1>
  <a style="color:black" href="#/about">
    <div class="icon">
    <!-- <i class="material-icons md-36">face</i> -->
    <p class="icon-description">More About Sahngah</p>
  </div></a>
  <h3 class="front_description"><a class="web_link" href="#/about"><b>web developer.</b></a> traveler. cat lover. shopper.</h3><hr>
  <img width=99.8% height=99.8% src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/16107420_1289901014406748_8803862590385445449_o.jpg?oh=63df480ebb81a8cb8efce87d5172615a&oe=5A11EC7C" alt="">
  <div align="center">
    <hr><a class="category_link" href='/#/lasvegas'>Las Vegas</a>
    <a class="category_link" href='/#/losangeles'>Los Angeles</a>
    <a class="category_link" href="/#/newyork">New York</a>
    <a class="category_link" href="/#/sanfrancisco">San Francisco</a>
    <a class="category_link" href="/#/miami">Miami</a>
    <a class="category_link" href="/#/boston">Boston</a>
    <a class="category_link" href="/#/seattle">Seattle</a>
    <a class="category_link" href="/#/singapore">Singapore</a>
    <a class="category_link" href="/#/cancun">Cancun</a>
    <a class="category_link" href="/#/portland">Portland</a><hr>
  </div>
  <div align="center">
    <ul class="navbar">
      <li><a href="#/user/login">Login | </a></li>
      <li><div class="homebar" ng-if="curUser.username == 'sahngah'">
      <a href="#/post/new">New Post |</a>
      </div></li>
      <li><a href="#/about">About |</a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</div>
