<div ng-controller="post_controller_one">
  <div class="logo_background">
    <a class="logo_a" href="#/"><h2 class="logo" align="center">Sahngah</h2></a>
  </div>
  <div align="center">
    <hr><a class="category_link" href='/#/lasvegas'>Las Vegas</a>
    <a class="category_link" href='/#/losangeles'>Los Angeles</a>
    <a class="category_link" href="/#/newyork">New York</a>
    <a class="category_link" href="/#/sanfrancisco">San Francisco</a>
    <a class="category_link" href="/#/miami">Miami</a>
    <a class="category_link" href="/#/boston">Boston</a>
    <a class="category_link" href="/#/seattle">Seattle</a>
    <a class="category_link" href="/#/singapore">Singapore</a>
    <a class="category_link" href="/#/cancun">Cancun</a>
    <a class="category_link" href="/#/portland">Portland</a><hr>
  </div>
  <div ng-repeat="post in posts" align="center">
    <div class="post" ng-if="post.category == 'sanfrancisco'">
    <h1 class="post_title">{{post.title}}</h1>
    <img class="post_image" width=65% height=65% src="{{post.photo}}">
    <p class="post_description">{{post.description}}</p>
    <div ng-repeat="comment in comments" align="center">
      <div class="comment" ng-if="comment.post[0]._id == post._id">
        <h2 class="comment_user"><i class="material-icons" style="color:#AD7A8F">favorite</i>{{comment.user[0].username}} <small>says:</small><i class="material-icons" style="color:#AD7A8F">favorite</i></h2>
        <p class="comment_content">{{comment.content}}</p>
        <div ng-if="curUser.username == 'sahngah' || comment.user[0].username == curUser.username">
          <button type="button" name="delete" class="btn btn-danger" ng-click="deleteComment(comment._id, comment.post[0].category)">Delete this comment</button>
        </div>
      </div>
    </div>
    <div ng-if="curUser.username == 'sahngah'">
      <!-- <button type="button" id="toTheTop" class="btn btn-success" value="Scroll Top" ng-click="toTheTop()">Go To the Top</button> -->
      <button class="btn btn-default"><a href="#/post/edit/{{post._id}}">Edit this post</a></button>
      <button type="button" name="delete" class="btn btn-danger" ng-click="delete(post._id)">Delete this post</button>
    </div>
    <div>
      <div ng-if="!curUser.username">
        <input class="form-control" id="disabledInput" type="text" placeholder="Login To Leave a Comment!" disabled>
      </div>
      <div ng-if="curUser.username != null">
      <h3 class="comment_user">{{curUser.username[0].toUpperCase() + curUser.username.slice(1)}} says...</h3>
      <form ng-controller="post_controller_one">
        <textarea type="text" class="form-control" rows="3" ng-model="newComment.content"></textarea>
        <button type="submit" class="btn btn-success" ng-click="addComment(curUser._id, post._id,  post.category)">Submit</button>
      </form>
      </div>
    </div>
    </div>
  </div>
  <div align="center">
    <ul class="navbar">
      <li><a href="#/">Home |</a></li>
      <li><a href="#/user/login">Login | </a></li>
      <li><div class="homebar" ng-if="curUser.username == 'sahngah'">
      <a href="#/post/new">New Post |</a>
      </div></li>
      <li><a href="#/about">About |</a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</div>
